@charset "UTF-8";

/* Class */
.tipo-saida{
    border-radius: 100%;
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px 5px;
    border-radius: 3px;
}

/* Inputs */
#all-inputs-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#all-inputs-container input, #all-inputs-container select{
    margin-bottom: 0px;
}

.input-categoria, .input-gastos-categoria{
    display: block;
    border: 1px solid lightgray;
    padding: 7px 10px;
    width: 100%;
    border-radius: 3px;
}

.input-categoria:focus, .select-categoria-classe:focus, .input-gastos-categoria:focus{
    outline: none;
    box-shadow: 0px 0px 4px lightgray;
}

.select-categoria-classe{
    width: 100%;
    padding: 6px 8px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#btn-adicionar-categoria, #btn-atualizar-categoria{
    background-color: var(--cor-azul);
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    color: white;
    box-shadow: 1px 1px lightgray;
}

#btn-adicionar-categoria:hover, #btn-atualizar-categoria:hover{
    box-shadow: 0px 0px 4px var(--cor-azul);
}

/* Table */

table tbody tr :nth-child(4), table tbody tr :nth-child(5){
    text-decoration: underline;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 1200px) {    
    select{
        height: 31px;
        background-color: white;
    }
}

@media screen and (max-width: 1000px){
    #pageContainer.pageContainerAsideOpen #mainContentContainer{
        max-width: 550px !important;
    }

    #all-inputs-container{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    #input-gastos-categoria-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    table{
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {    
    #main-title{
        font-size: 25px;
    }
    
    #main-sub-title{
        font-size: 18px;
    }

    #table-container{
        font-size: 14px;
        overflow-x: scroll;
    }
    
}